<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Jenkins Test Suite">
  <test thread-count="5" name="Jenkins Test">
    <classes>
      <class name="selenium.JenkinsDemo.JenkinsCheck"/>
    </classes>
  </test> <!-- Jenkins Test -->
</suite> <!-- Jenkins Test Suite -->
